@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.activeScroll i {
  animation: flicker 1.5s infinite alternate;
}

.neonText:hover {
  /* color: #fff;
  box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
  outline: 0.2rem solid #fff; */
  animation: pulsate 2.5s infinite alternate;
}

/* .neonText.blink {
  animation: pulsate 2.5s infinite alternate;
} */


@keyframes pulsate {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    box-shadow:
      0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #bc13fe,
      0 0 0.8rem #bc13fe,
      0 0 2.8rem #bc13fe,
      inset 0 0 1.3rem #bc13fe;
    outline: 0.2rem solid #fff;
  }
  
  20%, 24%, 55% {        
    box-shadow: none;
    outline: none;
  }
}

*::-webkit-scrollbar {
  width: 2px;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.neonFont {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}


@keyframes outlineComplete {
  0% {
    stroke-dashoffset: 1000; /* Start with the outline fully hidden */
  }
  100% {
    stroke-dashoffset: 0; /* Complete the outline path */
  }
}

@keyframes neonOutline {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    box-shadow:
      0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #bc13fe,
      0 0 0.8rem #bc13fe,
      0 0 2.8rem #bc13fe,
      inset 0 0 1.3rem #bc13fe;
    outline: 0.2rem solid #fff;
  }
  
  20%, 24%, 55% {        
    box-shadow: none;
    outline: none;
  }    
}

.neonOutLinePath {
  animation: neonOutline 3s infinite, outlinePath 3s forwards;  /* Adjust the durations as needed */
}

#shabd-translation{
  float: right;
  bottom: 5;
  padding: 5px;
}
#shabd-translation  select{
  background: transparent;
  color: white;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  /* padding: 5px; */
}

#shabd-translation option{
  background-color: black;
  color: white;
  padding: 5px;
  outline: none;
  margin-top: 5px;
  border: none;
}